<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<style>
.menuCustom {
	background-color: #e3f2fd;
}
</style>
<body>
	<div class="container">
		<nav th:replace="~{/home/_menu::nav}"></nav>
		<hr>
		<h3>Đăng nhập</h3>
		<hr>
		<h4 th:text="${message}" style="color:red;"></h4>
		<form name="myForm" action="/auth/login" method ="post">
			<div class="form-group">
				<label>Tài khoản</label> <input name="username" type="text" class="form-control"
					placeholder="Tài khoản">
			</div>
			<div class="form-group">
				<label>Mật khẩu</label> <input name="password" type="password" class="form-control"
					placeholder="Mật khẩu">
			</div>
			<div class="form-group">
				<input name="remember" type="checkbox"> <span>Nhớ mật khẩu?</span>
			</div>
			<button type="submit" class="btn btn-primary">Đăng nhập</button>
		</form>
	</div>
</body>
</html>